NODE_ENV=development
PORT=3000

# Mercado Pago
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=

# Banco de dados
DATABASE_URL=

# Assinatura de licencas
LICENSE_PRIVATE_KEY=
LICENSE_PUBLIC_KEY=
